<meta charset="UTF-8"/>
<div id="h">
    <div class="sInfo">
        Powered by <a href="/"><span th:text="${@config.getKey('site.name')}"></span></a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/tomzPage">免责申明</a>
        &nbsp;&nbsp;|&nbsp;&nbsp;<a target="_blank" style="color: red"
                                    href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=admin@qqzsh.top">侵权举报</a>
        &nbsp;&nbsp;|&nbsp;&nbsp;<a target="_blank"
                                    href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=admin@qqzsh.top">广告合作</a>
    </div>
    <div class="sInfo" align="center">
        资源总数：<span th:text="${articleNums}"></span>  用户总数：<span th:text="${userNum}"></span>  下载量：<span th:text="${downloadNums}"></span>
    </div>
    <div class="foot" align="center">Copyright © <span th:text="${@config.getKey('site.copyrightyear')}"/> <a th:href="${@config.getKey('site.url')}"><span th:text="${@config.getKey('site.url')}"></span></a> 版权所有<br><span th:text="${@config.getKey('site.record')}"></span>
    </div>
</div>

<script>


</script>