<!DOCTYPE html>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title th:text="'高校-'+${@config.getKey('site.name')}"></title>
    <link th:href="@{/css/college.css}" rel="stylesheet"/>
    <link th:href="@{/css/index.css}" rel="stylesheet"/>
    <link th:href="@{css/font-awesome.css}" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}"/>
</head>
<!--在线客服-->
<script type='text/javascript'>
    (function(m, ei, q, i, a, j, s) {
        m[i] = m[i] || function() {
            (m[i].a = m[i].a || []).push(arguments)
        };
        j = ei.createElement(q),
            s = ei.getElementsByTagName(q)[0];
        j.async = true;
        j.charset = 'UTF-8';
        j.src = 'https://static.meiqia.com/dist/meiqia.js?_=t';
        s.parentNode.insertBefore(j, s);
    })(window, document, 'script', '_MEIQIA');
    _MEIQIA('entId', 163871);
</script>
<body>
<!-- 注册登录 -->
<div th:include="common/v2/head :: head"></div>

<!--通知区域-->
<div class="nav">
    <div align="left" style="padding-top: 0px;padding-bottom: 10px;">
        <marquee><span th:utext="${newOneNotice.noticeContent}"></span></marquee>
    </div>
</div>
<!--高校数据-->
<div class="box_">
        <div class="title_">
            <h2 class="tip" style="margin-top: 0">高校</h2>
        </div>
        <div class="contain_">
            <ul>
                <li class="contain_li" th:each="dept:${deptsList}">
                    <div class="col_1">
                        <img th:src="(${dept.badge} == '') ? @{/img/profile.jpg} : @{${dept.badge}}" >
                    </div>
                    <div class="col_2">
                        <a th:href="@{/front/article(deptName=${dept.deptId})}"><h4 th:text="${dept.deptName}"></h4></a>
                        <h4 th:text="${dept.ename}"></h4>
                        <ul class="nav_">
                            <li class="nav_item">
                                <a class="OAI" href="JavaScript:;">资源总数: <span class="OAIs nav_item_span" th:text="${dept.total}"></span></a>
                            </li>
                            <li class="nav_item">
                                <a class="user" href="JavaScript:;">用户数 : <span class="users nav_item_span" th:text="${dept.totalUser}"></span></a>
                            </li>
                            <li class="nav_item">
                                官网 : <a target="_blank" th:href="${dept.url}" th:text="${dept.url}"></a>
                            </li>
                        </ul>
                        <p class="p_14">
                            <b>简介 : </b><span th:text="${dept.introduction}"/></p>
                    </div>
                    <div style="clear: both"></div>
                </li>
            </ul>
        </div>
    </div>
<!--分页-->
<div class="paging">
    <ul class="pagination" id="pagination1">
        <!--//如果当前页等于1，总页数大于1（不显示上一页）   orderDara.current&ndash;&gt;当前页-->
        <li id="first">
            <a th:href="@{/front/college(page=1,size=${size})}">首页</a>
        </li>
        <li th:if="${page != 1}">
            <a th:href="@{/front/college(page=${page}-1,size=${size})}">上一页</a>
        </li>

        <li  th:each="i:${#numbers.sequence(1,totalPage)}">
            <!--//从1到总页数遍历，并赋值给i    orderDara.pages&ndash;&gt;总页数-->
            <a class="active" th:if="${i > page-3} and ${i <page+3} and ${i == page}" href="javascript:void(0);" th:text="${i}">#</a>
            <!--//限制显示页数的条数  4到6个页数   而且等于当前页，不能点击-->
            <a th:if="${i > page -3} and ${i < page+3} and ${i != page}"
            th:href="@{/front/college(page=${i},size=${size})}" th:text="${i}">#</a><!--//限制显示页数的条数  4到6个页数-->
        </li>
        <li th:if="${page != totalPage}">
            <a th:href="@{/front/college(page=${page}+1,size=${size})}">下一页</a>
        </li>
        <li id="last">
            <a th:href="@{/front/college(page=${totalPage},size=${size})}">尾页</a>
        </li><!--//跳转至第orderDara.current页-->
        <li>
            <a href="#" th:text="'共'+${totalPage}+'页'"></a>
        </li>
    </ul>
</div>
<!-- 友情链接 -->
<div class="yqlj nav">
    <h3 class="tip">友情链接</h3>
    <div class="friendBox">
        <span th:each="link:${allLinkList}">
            <a target="_blank" th:href="${link.linkUrl}" th:title="${link.linkName}">
                <span th:text="${link.linkName}"></span>
            </a>
        </span>
    </div>

</div>
<!-- 版权声明 -->
<div class="bqsm">
    <div class="sInfo">
        <a href="">Powered by <a href="/"><span th:text="${@config.getKey('site.name')}"></span></a></a>
        <a href="/tomzPage">免责申明</a>
        <a target="_blank" href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=admin@qqzsh.top" class="qqjb" style="color: #f40;">侵权举报</a>
        <a target="_blank" href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=admin@qqzsh.top" style="border-color: transparent;">广告合作</a>
    </div>
    <div class="sInfo">
        <span>资源总数 : <span th:text="${articleNums}"></span></span>
        <span>用户总数 ：<span th:text="${userNum}"></span></span>
        <span>下载量 ：<span th:text="${downloadNums}"></span>
    </div>
    <div class="sInfo" style="border-color: transparent;">
        Copyright © <span th:text="${@config.getKey('site.copyrightyear')}"/> <a th:href="${@config.getKey('site.url')}"><span th:text="${@config.getKey('site.url')}"></span></a> 版权所有
    </div>
    <div class="sInfo">
        <a href="http://www.beian.miit.gov.cn" target="_blank" style="border-color: transparent;"><span th:text="${@config.getKey('site.record')}"></span></a>
    </div>
</div>
</body>
<script th:src="@{/js/jquery.min.js}" type="text/javascript" charset="utf-8"></script>
<script th:src="@{/layui/layui.js}" type="text/javascript"></script>
<script th:src="@{/js/common.js}" type="text/javascript"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    layui.use(['element', 'form', 'laypage'], function () {
        var element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块
        $("#college").addClass("active");
    });

    /*]]>*/
</script>
</html>