<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('增加积分')" />
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-user-edit" th:object="${user}">
        <input name="userId" th:field="*{userId}" type="hidden">
        <div class="form-group">
            <label class="col-sm-3 control-label">积分：</label>
            <div class="col-sm-8">
                <input name="point" class="form-control" type="text">
            </div>
        </div>
    </form>
</div>
<th:block th:include="include :: footer" />
<script type="text/javascript">

    var prefix = ctx + "system/user";

    $("#form-user-edit").validate({
        focusCleanup: true
    });

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/addPoints", $('#form-user-edit').serialize());
        }
    }
</script>
</body>
</html>